@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
    font-family: 'Exo', sans-serif;
    background-color: rgb(82, 82, 82);
}

.sobre {
    text-align: center;
    width: 100%;
    max-width: 1080x;
}

.sobre h1 {
    color: #fff
}

.sobre p {
    color: #fff
}

.btn {
    width: 100%;
    max-width: 1080x;
    text-align: center;
}

.jogar {
    background-color: #0099ff;
    color: #fff;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}